body {
	color: #ddd;
	background: linear-gradient(to top, #333, #111);
	height: 500px;
	width: auto;
}


h1{
	font-family: 'Lobster', cursive;
	font-size: 75pt;
}

h2 {
	font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
	font-stretch: condensed;
	font-weight: bold;
}

h3 {
	font-family: Futura, “Trebuchet MS”, Arial, sans-serif;

}

#wrapper {
	margin: 0px auto;
	text-align: center;
	padding: 40px;
}

#username{
	width: 450px;
	height: 41px;
	border: 2px red solid;

}
.inputBox {
	background-color: #ddd;
/*	border: 2px black solid;
*/	height: 40px;
	width: 250px;
	display: inline-block;
	border: none;
	padding:0px;
	vertical-align: top;
}

.inputBox p {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: italic;
	font-size: 13pt;
}


.button{
	color: #ddd;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: #fd7221;
	margin: 0px auto;
	height: 40px;
	width: 150px;
	font-size: 14pt;
	padding: 0px;
	display: inline-block;
	border: none;
}

.tictactoeSpace {
	width: 100px;
	height: 100px;
	border: 4px white solid;
}