body {
	color: #ddd;
	background: radial-gradient(#333, #111);
	width: auto;
	font-family: 'Futura', Arial, sans-serif;
	text-align: center;
	height: 1200px;
}


h1{
	font-family: 'Lobster', cursive;
	font-size: 75pt;
	margin-top: 0px;
  	padding-top: 30px;
}

h2 {
	font-size: 30pt;
	font-stretch: condensed;
	font-weight: bold;
	font-family: 'Futura', Arial, sans-serif;
}

h3 {
	font-size: 20pt;
	margin-bottom: 1px;
	font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
}

footer {
	height: 100px;
}

a {
	text-decoration: none;
}

#wrapper {
	margin: 0px auto;
	text-align: center;
	padding: 40px;
}

#username{
	width: 450px;
	height: 41px;
	margin: 0px auto;
}

/*////////////////////POPUP PAGE STYILNG////////////////////*/
#popup {
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100%;
	z-index: 1;
	position: fixed;
	transition: 2s all;
	}

#outer-wrapper {
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: 13;
    transition: 2s all;
}

#popup-wrapper {
	background: radial-gradient(#333, #111);
	/*position: static;*/
	max-width: 60%;
	height: 270px;
	border: 3px white solid;
	border-radius: 10px;
	color: #ddd;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	margin: 100px auto;
	z-index: 9999;
	transition: 2s all;

}

.popup-username-input {
	background-color: #ddd;
/*	border: 2px red solid;
*/	width: 250px;
	height: 40px;
	display: inline-block;
	padding: 0px;
	vertical-align: top;
	color: #333;
	border: none;
}

.popup-button {
	background-color: #fd7221;
	color: #ddd;
	margin: 0px auto;
	height: 40px;
	width: 150px;
	font-size: 14pt;
	padding: 0px;
	display: inline-block;
	border: none;
	text-align: center;
}

/*////////////////////GAME PAGE STYLING////////////////////*/

#all-game {
	z-index: 1;
}
/*GAMEBOARD*/
.board {
	display: inline-block;
	width: 350px;
	height: 350px;
	margin: 0 5px;
}

.tictactoeSpaces {
	width: 100px;
	height: 100px;
	border: 4px white solid;
	display: inline-block;
}

.tictactoeSpaces:hover{
	background-color: blue;
}

#scoreboard{
	width: 500px;
	/*border: red 3px solid;*/
	margin: 0px auto;
}

.x {
	background-image: url(../images/x.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.o {
	background-image: url(../images/o.png);
	background-position: center;
   	background-size: cover;
   	background-repeat: no-repeat;
}

/*USERSCORING*/
.score-wrapper {
	margin: 0px 40px;
	vertical-align: top;
/*	border: blue 3px solid;*/
	display:inline-block;
}

#username{
	width: 450px;
	height: 41px;
	margin: 0px auto;
}

/*.wrapper {
	margin: 0px auto;
	text-align: center;
	padding: 40px;
	display: inline-block;
	border: green 3px solid;
}*/


/*INPUT AND MESSAGING BOXES*/
.inputBox {
	background-color: #ddd;
	height: 40px;
	width: 400px;
	display: inline-block;
	border: none;
	padding: 0px;
	vertical-align: top;
	color: #333;
}

.inputBox p {
	font-family: 'Futura', "Trebuchet MS", Arial, sans-serif;
	font-style: italic;
	font-size: 13pt;
}

#messages{
	width: 450px;
	height: 150px;
	display: block;
	margin: 20px auto;

}

.button{
	color: #ddd;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: #fd7221;
	margin: 0px auto;
	height: 40px;
	width: 50px;
	font-size: 14pt;
	padding: 0px;
	display: inline-block;
	border: none;
}