<!DOCTYPE html>
<html ng-app="App">
	<head>
		<meta charset="utf-8">
		<title>TicTacToe!</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
        <!-- angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <!-- firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
        <!-- angularfire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
        
		<script src="js/app.js"></script>
        <script src="js/Controller.js"></script>
	</head>
	

    <body ng-controller="TicTacToeController as main">

        <section id="popup" ng-hide="main.submit"></section>

        <!-- POPUP LOGIN SCREEN START -->
            <div id="outer-wrapper" ng-hide="main.submit">
                <div id="popup-wrapper">
                    <h2>Ready for some<br>good old-fashion fun?</h2>
                        <div id="username">
                            <input type="text" class="popup-username-input" placeholder="Enter your username here...." ng-model="main.game.username">
                            <button type="submit" ng-click="main.beginPlay()" class="popup-button">LET'S GO!</button>
                        </div>
                </div>
            </div>
        <!-- POPUP LOGIN SCREEN END -->

        <!-- GAME OVER SCREEN START -->
        <div id="outer-wrapper" ng-show="main.game.playAgain">
            <div id="popup-wrapper">
                <h2>That's All She Wrote.<br>Play Again?</h2>
                        <button type="submit" ng-click="main.gameOver()" class="popup-button">DO IT!</button>
                    <!-- </div> -->
            </div>
        </div>
        <!-- GAME OVER SCREEN END -->

        <h1>TicTacToe!</h1>

        <!-- /////ALERT POPUP//// -->
        <div id="alert-wrapper" ng-if="main.toggle">>
            <h2> {{ main.game.message }}</h2>
        </div>

            <section id="all-game">
                <div id="main-board">       
                <!-- Begin Centered Board -->
                    <div class ="board">
                    <!-- Main Gameboard Start -->
                        <button class="tictactoeSpaces" ng-repeat="space in main.game.spaces" ng-click="main.playerClick($index)" ng-class="{'x': space.playerX === true, 'o': space.playerO === true}">
                        </button>
                    </div>

            </div>
                <!-- End Gameboard -->

            <section id="scoreboard">
            <!-- SCOREBOARD START -->
                <div class ="score-wrapper">
                <!-- user1 scoreboard start-->
                    <h3>{{ main.game.playerOscore }}</h3>
                    <h5>{{ main.game.username }}</h5> 
                </div>
                <!-- user1 scoreboard end -->

                <div class ="score-wrapper">
                <!-- user1 scoreboard start-->
                    <h3>{{ main.game.tieGame }}</h3>
                    <h5>Tie</h5>
                </div>

                <div class="score-wrapper">
                <!-- User2 Scoreboard -->
                    <h3>{{ main.game.playerXscore }}</h3>
                    <h5>Player X</h5>
                </div>
                <!-- User2 Scoreboard End -->
            </section>  
            <!-- SCOREBOARD END -->

            <div>
                <button ng-click="main.clearboard()" class="popup-button">Play Again!</button>
            </div>

    
            <!-- Messaging box start -->
     <!--       <div>
                <input id="messages" class = "inputBox">
                <input class="inputBox" type="text" placeholder="Go on, say hello...">
                <button class="button"><img src="images/button-image.jpg" width="50"></button>
            </div> -->
            <!-- messaging box end -->
    </section>

        </div>

	</body>
</html>
